button {
    width: 95VW;
    height: 10VH;
    display: block;
    padding-left: auto;
    padding-right: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1VH;
    background-color: whitesmoke;
    border-color: black;
    border-radius: 5VW;
    border: 1VW;
    border-style: solid;
}

.createRouteButton {
    width: 70VW;
    height: 5VH;
    display: inline;
}

.leaderboardButton {
    width: 25VW;
    height: 5VH;
    display: inline;
}
#gameBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100VH;
}

#currentMessage {
    text-align: center;
    margin: auto;
    justify-self: center;
}

#timer {
    text-align: center;
    width: 100VW;
    justify-self: baseline;
}

.game {
    background-color: whitesmoke;
    color: black;
}

.gameWarm1 {
    background-color: rgb(255, 105, 106);
    color: whitesmoke;
}

.gameWarm2 {
    background-color: rgb(255, 66, 47);
    color: whitesmoke;
}

.gameWarm3 {
    background-color: rgb(254, 0, 0);
    color: whitesmoke;
}

.gameCold1 {
    background-color: rgb(129, 135, 255);
    color: whitesmoke;
}

.gameCold2 {
    background-color: rgb(47, 155, 254);
    color: whitesmoke;
}
